<div class="top">    
    <h1>Listing businesses</h1>
    <br>
    <table class="table table-bordered table-hover">
      <tr>
        <th>Name</th>
        <th>Place</th>
      </tr>

    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.place %></td>
        <td><%= link_to 'Show', business, :class => 'btn btn-primary'  %></td>
        <td><%= link_to 'Edit', edit_business_path(business), :class => 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', business, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Business', new_business_path %>
</div>