<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row span12">
  <div class="span12">
    <%= f.label 'Business Name' %><br />
    <%= f.text_field :bizname %>
  </div>
</div>
<div class="row span12">
  <div class="span12">
    <%= f.label 'Description' %><br />
    <span style="height: 1em;">
    <%= f.text_area :desc %>
    </span>
  </div>
</div>
  <div class="row span12">
    <div class="span12">
      <%= f.label 'Discount Code' %><br />
      <%= f.text_field :code %>
    </div>
  </div>
  <div class="row span12">
    <div class="span12">
      <%= f.label 'Percentage Off' %><br />
      <%= f.number_field :discount %>
    </div>
  </div>
  
  <div class="row span12">
    <div class="span12">
      <%= f.label 'Upload Coupon Image' %><br />
      <%= f.text_field :url %>
    </div>
  </div>


  <div class="row span12">
    <div class="actions span12">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>
  
<% end %>
