<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span12">
		<h2>
		  <b>Thanks for stopping by <%= @coupon.business.name %>!</b>
		</h2>
	</div>	
</div>

<!-- Display only if there is an account -->

<% if @coupon.discount > 0 %>

<div class="row">
	<div class="span12">
		<%= image_tag(@coupon.url, :class => 'rounded' ) %>
		<p>
		  Thanks for checking in at <%= @coupon.business.name  %>!  Show this coupon to the cashier to receive <%= @coupon.desc %>, good for <%= @coupon.discount %>% off your order!
		</p>
	</div>	
</div>

<%end%>
