<p id="notice"><%= notice %></p>

<h2>
  <b>Thanks for stopping by <%= @coupon.bizname %>!</b>
</h2>
<%= image_tag("shoes.jpeg", :class => 'rounded' ) %>
<p>
  Here is your discount code for using <%= @coupon.bizname %> NFC app.
</p>
<p>
  This is a <%= @coupon.desc %>.  Like us to receive <%= @coupon.discount %>% off your order!
</p>

