<p id="notice"><%= notice %></p>

<h2>
  <b>Thanks for stopping by <%= @coupon.bizname %>!</b>
</h2>


<!-- Display only if there is an account -->

<% if @coupon.discount >0 %>

<%= image_tag(@coupon.url, :class => 'rounded' ) %>
<p>
  Here is your discount code for using <%= @coupon.bizname %> NFC app.
</p>
<p>
  This is a <%= @coupon.desc %>.  Like us to receive <%= @coupon.discount %>% off your order!
</p>

<%end%>